<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mshz.cloud.tms.business.mapper.QualityPublicTreeInfoMapper">

    <resultMap type="QualityPublicTreeInfo" id="QualityPublicTreeInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="metaModeId"    column="meta_mode_id"    />
        <result property="treeDesc"    column="tree_desc"    />
        <result property="state"    column="state"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectQualityPublicTreeInfoVo">
        select id, name, meta_mode_id, tree_desc, state, create_time, update_time, remark from t_quality_public_tree_info
    </sql>

    <select id="selectQualityPublicTreeInfoList" parameterType="QualityPublicTreeInfo" resultMap="QualityPublicTreeInfoResult">
        <include refid="selectQualityPublicTreeInfoVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="metaModeId != null  and metaModeId != ''"> and meta_mode_id = #{metaModeId}</if>
            <if test="treeDesc != null  and treeDesc != ''"> and tree_desc = #{treeDesc}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
        </where>
    </select>

    <select id="selectQualityPublicTreeInfoById" parameterType="Long" resultMap="QualityPublicTreeInfoResult">
        <include refid="selectQualityPublicTreeInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertQualityPublicTreeInfo" parameterType="QualityPublicTreeInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_quality_public_tree_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="metaModeId != null">meta_mode_id,</if>
            <if test="treeDesc != null">tree_desc,</if>
            <if test="state != null">state,</if>
            <if test="remark != null">remark,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="metaModeId != null">#{metaModeId},</if>
            <if test="treeDesc != null">#{treeDesc},</if>
            <if test="state != null">#{state},</if>
            <if test="remark != null">#{remark},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateQualityPublicTreeInfo" parameterType="QualityPublicTreeInfo">
        update t_quality_public_tree_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="metaModeId != null">meta_mode_id = #{metaModeId},</if>
            <if test="treeDesc != null">tree_desc = #{treeDesc},</if>
            <if test="state != null">state = #{state},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQualityPublicTreeInfoById" parameterType="Long">
        delete from t_quality_public_tree_info where id = #{id}
    </delete>

    <delete id="deleteQualityPublicTreeInfoByIds" parameterType="String">
        delete from t_quality_public_tree_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
