<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mshz.cloud.tms.business.mapper.TMetaModelOperatorLogMapper">

    <resultMap type="TMetaModelOperatorLog" id="TMetaModelOperatorLogResult">
        <result property="id"    column="id"    />
        <result property="modelId"    column="model_id"    />
        <result property="modelName"    column="model_name"    />
        <result property="operator"    column="operator"    />
        <result property="operatorTime"    column="operator_time"    />
        <result property="operatorColumn"    column="operator_column"    />
        <result property="operateTypeNo"    column="operate_type_no"    />
        <result property="operateContent"    column="operate_content"    />
        <result property="modelVersion"    column="model_version"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectTMetaModelOperatorLogVo">
        select  model_name, operator, operator_time, operator_column, operate_type_no, operate_content, model_version from t_meta_model_operator_log
    </sql>

    <select id="selectTMetaModelOperatorLogList" parameterType="TMetaModelOperatorLog" resultMap="TMetaModelOperatorLogResult">
        <include refid="selectTMetaModelOperatorLogVo"/>
        <where>
            <if test="o.modelId != null "> and model_id = #{o.modelId}</if>
            <if test="o.modelName != null  and o.modelName != ''"> and model_name like concat('%', #{o.modelName}, '%')</if>
            <if test="o.operator != null  and o.operator != ''"> and operator like concat('%', #{o.operator}, '%')</if>
            <if test="o.operatorColumn != null  and o.operatorColumn != ''"> and operator_column like concat('%', #{o.operatorColumn}, '%')</if>
            <if test="o.operateTypeNo != null  and o.operateTypeNo != ''"> and operate_type_no = #{o.operateTypeNo}</if>
            <if test="o.operateContent != null  and o.operateContent != ''"> and operate_content = #{o.operateContent}</if>
            <if test="o.modelVersion != null  and o.modelVersion != ''"> and model_version = #{o.modelVersion}</if>
            <if test="start!=null and start!=''">
                and operator_time >=#{start}
            </if>
            <if test="end!=null and end!=''">
                <![CDATA[   and operator_time <=#{end}]]>
            </if>
            <if test="o.modelId != null">
                and (model_version ='edit')
            </if>
        </where>
    </select>


</mapper>
