<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mshz.cloud.tms.business.mapper.TQualityBasicRulesMapper">

    <resultMap type="TQualityBasicRules" id="TQualityBasicRulesResult">
        <result property="id"    column="id"    />
        <result property="ruleName"    column="rule_name"    />
        <result property="englishName"    column="english_name"    />
        <result property="ruleDescription"    column="rule_description"    />
        <result property="whetherFill"    column="whether_fill"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTQualityBasicRulesVo">
        select id, rule_name, english_name, rule_description, whether_fill, create_time, update_time from t_quality_basic_rules
    </sql>

    <select id="selectTQualityBasicRulesList" parameterType="TQualityBasicRules" resultMap="TQualityBasicRulesResult">
        <include refid="selectTQualityBasicRulesVo"/>
        <where>
            <if test="ruleName != null  and ruleName != ''"> and rule_name like concat('%', #{ruleName}, '%')</if>
            <if test="englishName != null  and englishName != ''"> and english_name like concat('%', #{englishName}, '%')</if>
            <if test="ruleDescription != null  and ruleDescription != ''"> and rule_description = #{ruleDescription}</if>
            <if test="whetherFill != null  and whetherFill != ''"> and whether_fill = #{whetherFill}</if>
        </where>
    </select>

    <select id="selectTQualityBasicRulesById" parameterType="Long" resultMap="TQualityBasicRulesResult">
        <include refid="selectTQualityBasicRulesVo"/>
        where id = #{id}
    </select>

    <insert id="insertTQualityBasicRules" parameterType="TQualityBasicRules" useGeneratedKeys="true" keyProperty="id">
        insert into t_quality_basic_rules
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleName != null">rule_name,</if>
            <if test="englishName != null">english_name,</if>
            <if test="ruleDescription != null">rule_description,</if>
            <if test="whetherFill != null">whether_fill,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleName != null">#{ruleName},</if>
            <if test="englishName != null">#{englishName},</if>
            <if test="ruleDescription != null">#{ruleDescription},</if>
            <if test="whetherFill != null">#{whetherFill},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTQualityBasicRules" parameterType="TQualityBasicRules">
        update t_quality_basic_rules
        <trim prefix="SET" suffixOverrides=",">
            <if test="ruleName != null">rule_name = #{ruleName},</if>
            <if test="englishName != null">english_name = #{englishName},</if>
            <if test="ruleDescription != null">rule_description = #{ruleDescription},</if>
            <if test="whetherFill != null">whether_fill = #{whetherFill},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTQualityBasicRulesById" parameterType="Long">
        delete from t_quality_basic_rules where id = #{id}
    </delete>

    <delete id="deleteTQualityBasicRulesByIds" parameterType="String">
        delete from t_quality_basic_rules where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
